* {
  font-family: 'Raleway', sans-serif;
}

html {
  background: url(http://i.huffpost.com/gen/1374225/images/o-THINGS-HAPPY-PEOPLE-DO-facebook.jpg);

}

.content {
  position: relative;
  position:left
  margin: auto;
  width: 30rem;
  height: 50rem;
  background: rgba(0, 0, 0, 0.7);
}

.loginSocial {
  border-radius: 7.5px;
  border-color: white;
  border-style: solid;
  width: 20rem;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

.loginSocial:hover {
  opacity: 1;
}

#facebook {
  background: #3b5998;
  border-color: #3b5998;
}

#facebook:active{
  background:#2a4898;
  border-color:#2a4898;
}

#google {
  background: #db3236;
  border-color: #db3236;
  margin-top: 30%;
}


#google:active{
  background:#db0124;
  border-color:#db0124;
}

h1 {
  text-align: center;
  position: relative;
  top: 10px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 200;
  color: white;
}

h2 {
  text-align: center;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5%;
  font-size: 1.25rem;
  font-weight: 200;
  color: white;
}

p {
  text-align: center;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
  font-weight: 200;
  color: white;
}

input {
  position: relative;
  left: 15%;
  width: 20rem;
  height: 2rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  background: black;
  color: white;
  font-size: 0.9rem;
  padding: 5px;
  border-style: solid;
  border-width: 0.5px;
}

input:hover {
  background: #333333;
}

input:focus {
  background: white;
  opacity: 1;
  color: #343434;
}

button {
  position: relative;
  margin: 5% 15%;
  width: 20.7rem;
  height: 2.5rem;
  border-radius: 2px;
  border-style: none;
}

button:active {
  background: #888888;
  outline:none;
}

hr {
  border-color: #787878;
  width: 75%;
  margin-top: 10%;
  margin-bottom: 10%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
