

    <p id="notice"><%= notice %></p>

    <h1> </h1>


    <div class ="container">
      <div class = "row">
      </div>
      <td class =><% @pets.each do |pet| %></td>
      <div class = "column">
        <div class="col-md-4" id = "petcontainer">
          <td><%= link_to image_tag(pet.image_url, class: 'img-responsive'),pet %> </td>
          <td><%= pet.name %></td>

        </div>

      </div>
      <% end %>



      <br>

      <%= link_to 'New Pet', new_pet_path %>
