.social{
}
form{
 color: white;
 text-align: left;
}
h1 {
	font-family: Papyrus, fantasy;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
.tblfont{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  	font-size: 20px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 300;
  	line-height: 15.4px;
}

.logo{
	height:5em;
	position:relative;
	padding-right:2em;
	float:left
}
#signup{
	text-align: right;
	float:right;
}
#petcontainer{


}
.container {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}


/* begin styling remember me checkbox*/
.container {
    text-align: center;
    padding: 10px 20px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/*end styling remember me checkbox*/
