<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="style.js"></script>

    <link rel = "stylesheet"
  type = "text/css"
  href = "style1.css" />
  </head>
<body>
  <section class="content">
    <h1>Log in</h1>
    <div class="loginSocial" id = "google">
      <p>Login using Google</p>
    </div>
    <div class="loginSocial" id = "facebook">
      <p>Login using Facebook</p>
    </div>
    <h2>Or log in via Email</h2>
    <form>
      <input type="text" placeholder="Email Address"><br>
      <input type="text" placeholder="Password"><br>
      <button type="button">Login</button>
    </form>
    <hr>
    <p><a href="#">Forgot Password?</a>
</section>
<div>

</div>

</body>
</html>
